.send-button {
  background-color: rgb(249 127 187) !important;
  border: rgb(249 127 187) !important;
}

.active {
  font-weight: bold;
}

.add-product {
  right: 0;
  position: fixed;
  margin-right: 10px;
}
